.block1{
  display: flex;
}
.block1-1-2{
  position: relative;
  display: flex;
  flex-direction: row;
}
.block1-1-2-3{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.block1-1{
  position: relative;
  width: 755px;
  height: 1000px;
  margin: 0px;
  background: linear-gradient(180deg, #FD7B5B 0%, #A92200 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block1-2{
  position: relative;
  width: 685px;
  height: 1032px;
  margin: 0px;
  background: #000000;

}
.block1-3{
  position: absolute;
  width: 1440px;
  height: 300px;
  top:1200px;
  background: #F9F7F0;
}
.block2{
  position: relative;
  width: 1440px;
}
.block2-1{
  position: absolute;
  width: 1440px;
  height: 400px;
  top:468px;
  align-items: center;
  background: #F3F6F9;
  z-index: 10;
}
.block2-2-3{
  position: relative;
  display: flex;
  flex-direction: row;
  top:1000px;
}
.block2-2{
  position: relative;
  width: 685px;
  height: 1300px;
  top:1px;
  margin: 0px;

}
.block2-3{
  position: relative;
  width: 755px;
  height: 1250px;
  top:1px;
  margin: 0px;
  background: linear-gradient(180deg, #FFDB8B 0%, #FDB15B 100%);
}
.block3{
  position: absolute;
  width: 1440px;
  height: 200px;
  top:3283px;
  background: #2C2B2B;
}
.FE{
  position: absolute;
  width: 898px;
  height: 210px;
  right:70px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  color: rgba(255,255,255,0.5);

}
.name{
  position: absolute;
  width: 561px;
  height: 240px;
  top:270px;
  left:150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  color: #FFF9F9;

}
.rec1{
  position: absolute;
  width: 80px;
  height: 587px;
  left:475px;
  top:445px;
  background: linear-gradient(180deg, #FFDB8B 0%, #FDB15B 100%);
  z-index: 10;
}
html{
  width: 1440px;
}
.rec2{
  position: absolute;
  width: 46px;
  height: 500px;
  left:1290px;
  top: 33px;
  background: linear-gradient(180deg, #FFDB8B 0%, #FDB15B 100%);
  z-index: 10;
}
li{
  list-style-type: none;
}
.rw{
  position: absolute;
  width: 716px;
  height: 162px;
  top:50px;
  left:80px;
  background: #FFFFFF;
}

.numbers{
  position: absolute;
  width: 716px;
  height: 116px;
  left: 100px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  word-spacing:140px;
  line-height: 75px;
  color: #F56845;


}
.projects1{
  position: relative;
  width: 493px;
  height: 21px;
  top:80px;
  left:93px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #A5A5A5;
}
.projects2{
  position: relative;
  width: 493px;
  height: 21px;
  top:60px;
  left:320px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #A5A5A5;
}
.projects3{
  position: relative;
  width: 493px;
  height: 21px;
  top:40px;
  left:510px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #A5A5A5;
}

.blockskills1{
  position: absolute;
  width: 422px;
  height: 206px;
  top:50px;
  left: 850px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2em;
  color: #BABABA;
}
.blockskills2{
  position: absolute;
  width: 422px;
  height: 206px;
  top:60px;
  left: 850px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  z-index: 10;
}
.blockskills3{

  position: absolute;
  width: 304px;
  height: 76px;
  top:180px;
  left: 900px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.rec3{
  position: absolute;
  width: 180px;
  height: 12px;
  top:140px;
  left: 850px;
  background: #F56845;
}
.blockskills4{
  position: absolute;
  width: 422px;
  height: 206px;
  left:200px;
  top:80px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2em;
  color: #BABABA;
}
.blockskills5{
  position: absolute;
  width: 422px;
  height: 206px;
  top:100px;
  left:200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  z-index: 10;
}
.blockskills6{
  position: absolute;
  width: 304px;
  height: 76px;
  top:250px;
  left:250px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.rec4{
  position: absolute;
  width: 230px;
  height: 12px;
  top: 225px;
  left:200px;
  background: #F56845;
}
.blockskills7{
  position: absolute;
  width: 396px;
  height: 104px;
  top:400px;
  left:200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #BABABA;
}

.blockskills8 {
  position: absolute;
  width: 396px;
  height: 104px;
  top:430px;
  left:190px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  color: #000000;
  z-index: 10;
}
.rec5{
  position: absolute;
  width: 230px;
  height: 12px;
  top: 468px;
  left:190px;
  background: #FFFFFF;
}
.contact{
  position: absolute;
  width: 373px;
  height: 73px;
  top: 488px;
  left:150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}
.blockskills9{
  position: absolute;
  width: 396px;
  height: 104px;
  top:900px;
  left:200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #BABABA;
}

.blockskills10 {
  position: absolute;
  width: 396px;
  height: 104px;
  top:930px;
  left:190px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  color: #000000;
  z-index: 10;
}
.rec6{
  position: absolute;
  width: 230px;
  height: 12px;
  top: 968px;
  left:190px;
  background: #FFFFFF;
}
.contact2{
  position: absolute;
  width: 373px;
  height: 73px;
  top: 988px;
  left:200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}
.ftext1{
  position: absolute;
  top:40px;
  left:200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2em;
  color: #BABABA;
}
.ftext2{
  position: absolute;
  top:60px;
  left:195px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  color: #FFFFFF;
}
.ftext3{
  position: absolute;
  top:120px;
  left:200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 8px;
  color: #BABABA;
}
.soc{
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:822px;
  left:705px;
  width: 50px;
  height: 210px;
  background: #000000;
  z-index: 10;
}
.inst{
  width: 50px;
  height: 50px;
}
.telegramm{
width: 50px;
height: 50px;
}
.Vk{
width: 50px;
height: 50px;
}
.linkedin{
width: 50px;
height: 50px;
}
.soc2{
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:830.5px;
  left:-450px;
  width: 50px;
  height: 210px;
  background: #000000;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
